<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sir.invoice"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="14" />
    
        <supports-screens android:anyDensity="true" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    
     <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
<uses-permission android:name="android.permission.INTERNET" /> 
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            
            android:name="sir.invoice.Sir_inv_mp"
            android:label="@string/app_name" 
             android:screenOrientation="landscape"
             
            >
            
            
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
            </activity>
        
        
        
          
             <activity
            android:name="sir.invoice.category.categoryinfo"
            android:label="@string/app_name" 
            
            android:screenOrientation="landscape"
            
            
            />
              <activity
            android:name="sir.invoice.product.Add_product"
            android:label="@string/app_name" 
             android:screenOrientation="landscape" />
              
               <activity
            android:name="sir.invoice.bill.sir_report"
            android:label="@string/app_name" 
            android:screenOrientation="portrait"
            
            >
            <meta-data
android:name="android.support.PARENT_ACTIVITY"
android:value="sir.invoice.Sir_inv_mp" />
            </activity>
                <activity
            
            android:name="sir.invoice.Login"
            android:label="@string/app_name" 
             android:screenOrientation="landscape"
          />
       
               
               
                <activity
            android:name="sir.invoice.bill.BillPage"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
             >
            <meta-data
android:name="android.support.PARENT_ACTIVITY"
android:value="sir.invoice.Sir_inv_mp" />
            </activity>
            
       <activity
            android:name="sir.invoice.product.productdisplay"
            android:label="@string/app_name" 
             android:screenOrientation="landscape" />
        
       
    </application>

</manifest>
